In [53]:
import pandas as pd
import numpy as np

In [54]:
special_measures_dimension = pd.read_csv("special_measures.csv")
date_dimension = pd.read_csv("dates.csv")
individual_dimension = pd.read_csv("individual_dimension.csv")
phu_dimension = pd.read_csv("PHU_location_dimension.csv")
weather_dimension = pd.read_csv("weather_dimension.csv")
mobility_dimension = pd.read_csv("mobility_dimension.csv")

In [55]:
fact_table =  pd.DataFrame(columns=['individual_id','phu_location_id','special_measures_id', 'test_date_id', 'onset_date_id',"reported_date_id","specimen_date_id", "mobility_id", "weather_id", "resolved", "unresolved", "fatal"])

In [56]:
individual_dimension

,surrogate_key,individual_id,date,age_group,gender,cause_of_infection,Outbreak_Related,reporting_phu_city
0,0,250,2020-05-03,40s,FEMALE,OB,Yes,Toronto
1,1,259,2020-03-25,50s,MALE,NO KNOWN EPI LINK,No,Toronto
2,2,322,2020-04-20,30s,FEMALE,OB,Yes,Toronto
3,3,326,2020-04-06,90+,FEMALE,OB,Yes,Toronto
4,4,347,2020-04-17,80s,FEMALE,OB,Yes,Toronto
...,...,...,...,...,...,...,...,...
16424,16424,289520,2020-05-03,<20,MALE,CC,No,Toronto
16425,16425,289589,2020-05-27,80s,MALE,OB,Yes,Toronto
16426,16426,289594,2020-04-15,60s,FEMALE,OB,Yes,Toronto
16427,16427,289614,2020-05-22,<20,MALE,CC,No,Toronto
16428,16428,289616,2020-05-20,50s,FEMALE,CC,No,Toronto

In [ ]:
for idx, row in individual_dimension.iterrows():

    # special measures -> individual cases
    # if case occured within the dates of a special measures, check if it includes the city
    # add special measures ID to fact table in the same row as the individual id
    sm_id = ...
    
    # PHU -> individual cases
    # match on city name
    phu_id = phu_dimension[phu_dimension["Reporting_PHU_City"]==row["reporting_phu_city"]]["Reporting_PHU_ID"].values[0]
    
    fact_row = [row["individual_id"], phu_id, sm_id, ...] # still have to fill in the other values
    
    fact_table.loc[len(fact_table)] = fact_row

In [19]:
fact_table

Empty DataFrame
Columns: [individual_id, phu_location_id, special_measures_id, test_date_id, onset_date_id, reported_date_id, specimen_date_id, mobility_id, weather_id, resolved, unresolved, fatal]
Index: []