In [1]:
import pandas as pd
import numpy as np

In [2]:
special_measures_dimension = pd.read_csv("special_measures.csv")
date_dimension = pd.read_csv("dates.csv")
individual_dimension = pd.read_csv("individual_dimension.csv")
phu_dimension = pd.read_csv("PHU_location_dimension.csv")
weather_dimension = pd.read_csv("weather_dimension.csv")
mobility_dimension = pd.read_csv("mobility_dimension.csv")

In [3]:
individuals = pd.read_csv("conposcovidloc.csv")

In [4]:
individuals.head()

,Row_ID,Accurate_Episode_Date,Case_Reported_Date,Test_Reported_Date,Specimen_Date,Age_Group,Client_Gender,Case_AcquisitionInfo,Outcome1,Outbreak_Related,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Website,Reporting_PHU_Latitude,Reporting_PHU_Longitude
0,1,2020-06-06,2020-06-12,2020-06-11,2020-06-10,50s,FEMALE,CC,Resolved,NaN,2236,Halton Region Health Department,1151 Bronte Road,Oakville,L6M 3Ll,www.halton.ca/For-Residents/Public-Health/,43.413997,-79.744796
1,2,2020-05-03,2020-05-11,2020-05-11,2020-05-10,70s,MALE,OB,Fatal,Yes,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893
2,3,2020-04-16,2020-04-19,2020-04-19,2020-04-17,40s,FEMALE,OB,Resolved,Yes,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893
3,4,2020-04-07,2020-04-26,2020-04-26,2020-04-21,60s,MALE,CC,Resolved,NaN,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893
4,5,2020-05-21,2020-05-22,2020-05-22,2020-05-21,60s,FEMALE,OB,Resolved,NaN,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893

In [5]:
removeCities = individuals[(individuals['Reporting_PHU_City'] != 'Toronto') & (individuals['Reporting_PHU_City'] != 'Ottawa')].index
individuals.drop(removeCities, inplace=True)
individuals.head()

,Row_ID,Accurate_Episode_Date,Case_Reported_Date,Test_Reported_Date,Specimen_Date,Age_Group,Client_Gender,Case_AcquisitionInfo,Outcome1,Outbreak_Related,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Website,Reporting_PHU_Latitude,Reporting_PHU_Longitude
249,250,2020-04-28,2020-05-03,2020-05-03,2020-04-30,40s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
258,259,2020-03-24,2020-03-25,2020-03-24,2020-03-24,50s,MALE,NO KNOWN EPI LINK,Resolved,NaN,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
321,322,2020-04-17,2020-04-20,2020-04-20,2020-04-19,30s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
325,326,2020-04-02,2020-04-06,2020-04-29,2020-04-02,90+,FEMALE,OB,Fatal,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
346,347,2020-04-10,2020-04-17,2020-04-11,2020-04-10,80s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358

In [6]:
individuals['Case_Reported_Date']= pd.to_datetime(individuals['Case_Reported_Date'])
start_date = pd.to_datetime("1/04/2020")
end_date = pd.to_datetime("7/31/2020")
individuals = individuals.loc[(individuals['Case_Reported_Date'] > start_date) & (individuals['Case_Reported_Date'] < end_date)]
individuals.head()

,Row_ID,Accurate_Episode_Date,Case_Reported_Date,Test_Reported_Date,Specimen_Date,Age_Group,Client_Gender,Case_AcquisitionInfo,Outcome1,Outbreak_Related,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Website,Reporting_PHU_Latitude,Reporting_PHU_Longitude
249,250,2020-04-28,2020-05-03,2020-05-03,2020-04-30,40s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
258,259,2020-03-24,2020-03-25,2020-03-24,2020-03-24,50s,MALE,NO KNOWN EPI LINK,Resolved,NaN,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
321,322,2020-04-17,2020-04-20,2020-04-20,2020-04-19,30s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
325,326,2020-04-02,2020-04-06,2020-04-29,2020-04-02,90+,FEMALE,OB,Fatal,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
346,347,2020-04-10,2020-04-17,2020-04-11,2020-04-10,80s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358

In [7]:
individuals_outcome = individuals
individuals_outcome.head()

,Row_ID,Accurate_Episode_Date,Case_Reported_Date,Test_Reported_Date,Specimen_Date,Age_Group,Client_Gender,Case_AcquisitionInfo,Outcome1,Outbreak_Related,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Website,Reporting_PHU_Latitude,Reporting_PHU_Longitude
249,250,2020-04-28,2020-05-03,2020-05-03,2020-04-30,40s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
258,259,2020-03-24,2020-03-25,2020-03-24,2020-03-24,50s,MALE,NO KNOWN EPI LINK,Resolved,NaN,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
321,322,2020-04-17,2020-04-20,2020-04-20,2020-04-19,30s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
325,326,2020-04-02,2020-04-06,2020-04-29,2020-04-02,90+,FEMALE,OB,Fatal,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
346,347,2020-04-10,2020-04-17,2020-04-11,2020-04-10,80s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358

In [8]:
individuals_outcome = individuals_outcome.drop(['Accurate_Episode_Date', 'Client_Gender', 'Age_Group', 'Test_Reported_Date', 'Specimen_Date', 'Case_AcquisitionInfo', 'Client_Gender', 'Reporting_PHU_ID', 'Reporting_PHU', 'Reporting_PHU_Address', 'Reporting_PHU_Postal_Code', 'Reporting_PHU_Website', 'Reporting_PHU_Latitude', 'Reporting_PHU_Longitude'], axis=1)
individuals_outcome.head()

     Row_ID Case_Reported_Date  Outcome1 Outbreak_Related Reporting_PHU_City
249     250         2020-05-03  Resolved              Yes            Toronto
258     259         2020-03-25  Resolved              NaN            Toronto
321     322         2020-04-20  Resolved              Yes            Toronto
325     326         2020-04-06     Fatal              Yes            Toronto
346     347         2020-04-17  Resolved              Yes            Toronto

In [9]:
individuals_outcome = individuals_outcome.drop(['Case_Reported_Date', 'Outbreak_Related', 'Reporting_PHU_City'], axis=1)
individuals_outcome.head()

     Row_ID  Outcome1
249     250  Resolved
258     259  Resolved
321     322  Resolved
325     326     Fatal
346     347  Resolved

In [10]:
individuals_outcome.rename(columns = {"Row_ID": "Individual_key"}, inplace=True)
individuals_outcome.head()

     Individual_key  Outcome1
249             250  Resolved
258             259  Resolved
321             322  Resolved
325             326     Fatal
346             347  Resolved

In [11]:
individuals_outcome.Outcome1.unique()

array(['Resolved', 'Fatal'], dtype=object)

In [12]:
individuals_outcome['Resolved'] = 'NaN'
individuals_outcome['Fatal'] = 'NaN'

In [13]:
individuals_outcome.head()

     Individual_key  Outcome1 Resolved Fatal
249             250  Resolved      NaN   NaN
258             259  Resolved      NaN   NaN
321             322  Resolved      NaN   NaN
325             326     Fatal      NaN   NaN
346             347  Resolved      NaN   NaN

In [14]:
individuals_outcome.loc[individuals_outcome['Outcome1'] == 'Resolved', 'Resolved'] = "yes"
individuals_outcome.loc[individuals_outcome['Outcome1'] == 'Resolved', 'Fatal'] = "no"
individuals_outcome.loc[individuals_outcome['Outcome1'] == 'Fatal', 'Fatal'] = "yes"
individuals_outcome.loc[individuals_outcome['Outcome1'] == 'Fatal', 'Resolved'] = "no"
individuals_outcome.head()

     Individual_key  Outcome1 Resolved Fatal
249             250  Resolved      yes    no
258             259  Resolved      yes    no
321             322  Resolved      yes    no
325             326     Fatal       no   yes
346             347  Resolved      yes    no

In [15]:
individuals_outcome = individuals_outcome.drop(['Outcome1'], axis=1)
individuals_outcome.head()

     Individual_key Resolved Fatal
249             250      yes    no
258             259      yes    no
321             322      yes    no
325             326       no   yes
346             347      yes    no

In [16]:
def merge_special_measures_with_individual():
    sms = []
    sm_ids = []
    for index, row in special_measures_dimension.iterrows():
        s_id = row['start_date_id']
        e_id = row['end_date_id']
        sms.append((row['StartDate'], row['EndDate'], row['ID'], row['includesOttawa'], row['includesToronto']))

    for index, row in individual_dimension.iterrows():
        sm_id = -1
        for special_measure in sms:
            if row['date'] >= special_measure[0] and row['date'] <= special_measure[1]:
                allow = (row['reporting_phu_city'] == 'Toronto' and special_measure[4] == 'yes') or (row['reporting_phu_city'] == 'Ottawa' and special_measure[3] == 'yes')
                if allow:
                    sm_id = int(special_measure[2])
                    if sm_id != 3: break
        sm_ids.append(sm_id)

    individual_dimension['special_measure_id'] = sm_ids
    
merge_special_measures_with_individual()

In [17]:
individual_dimension.head()

,surrogate_key,individual_id,date,age_group,gender,cause_of_infection,Outbreak_Related,reporting_phu_city,special_measure_id
0,0,250,2020-05-03,40s,FEMALE,OB,Yes,Toronto,11
1,1,259,2020-03-25,50s,MALE,NO KNOWN EPI LINK,No,Toronto,11
2,2,322,2020-04-20,30s,FEMALE,OB,Yes,Toronto,11
3,3,326,2020-04-06,90+,FEMALE,OB,Yes,Toronto,11
4,4,347,2020-04-17,80s,FEMALE,OB,Yes,Toronto,11

In [18]:
individual_dimension.rename(columns = {"individual_id": "Individual_key"}, inplace=True)
individual_dimension.head()

,surrogate_key,Individual_key,date,age_group,gender,cause_of_infection,Outbreak_Related,reporting_phu_city,special_measure_id
0,0,250,2020-05-03,40s,FEMALE,OB,Yes,Toronto,11
1,1,259,2020-03-25,50s,MALE,NO KNOWN EPI LINK,No,Toronto,11
2,2,322,2020-04-20,30s,FEMALE,OB,Yes,Toronto,11
3,3,326,2020-04-06,90+,FEMALE,OB,Yes,Toronto,11
4,4,347,2020-04-17,80s,FEMALE,OB,Yes,Toronto,11

In [19]:
individuals_outcome = individuals_outcome.merge(individual_dimension[["Individual_key","special_measure_id"]], on="Individual_key")
individuals_outcome.head()

   Individual_key Resolved Fatal  special_measure_id
0             250      yes    no                  11
1             259      yes    no                  11
2             322      yes    no                  11
3             326       no   yes                  11
4             347      yes    no                  11

In [20]:
individuals_outcome.rename(columns = {"special_measure_id": "Special_Measure_Key"}, inplace=True)
individuals_outcome.head()

   Individual_key Resolved Fatal  Special_Measure_Key
0             250      yes    no                   11
1             259      yes    no                   11
2             322      yes    no                   11
3             326       no   yes                   11
4             347      yes    no                   11

In [21]:
phu_dimension = phu_dimension.rename(columns={"Reporting_PHU_City": "reporting_phu_city"})
phu_dimension

,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,reporting_phu_city,Reporting_PHU_Postal_Code,Reporting_PHU_Latitude,Reporting_PHU_Longitude
0,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,43.656591,-79.379358
1,2251,Ottawa Public Health,100 Constellation Drive,Ottawa,K2G 6J8,45.345665,-75.763912

In [22]:
fact_table2 = pd.merge(individual_dimension, phu_dimension, how="left", on="reporting_phu_city")
fact_table2

,surrogate_key,Individual_key,date,age_group,gender,cause_of_infection,Outbreak_Related,reporting_phu_city,special_measure_id,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_Postal_Code,Reporting_PHU_Latitude,Reporting_PHU_Longitude
0,0,250,2020-05-03,40s,FEMALE,OB,Yes,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",M5B 1W2,43.656591,-79.379358
1,1,259,2020-03-25,50s,MALE,NO KNOWN EPI LINK,No,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",M5B 1W2,43.656591,-79.379358
2,2,322,2020-04-20,30s,FEMALE,OB,Yes,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",M5B 1W2,43.656591,-79.379358
3,3,326,2020-04-06,90+,FEMALE,OB,Yes,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",M5B 1W2,43.656591,-79.379358
4,4,347,2020-04-17,80s,FEMALE,OB,Yes,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",M5B 1W2,43.656591,-79.379358
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16424,16424,289520,2020-05-03,<20,MALE,CC,No,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",M5B 1W2,43.656591,-79.379358
16425,16425,289589,2020-05-27,80s,MALE,OB,Yes,Toronto,2,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",M5B 1W2,43.656591,-79.379358
16426,16426,289594,2020-04-15,60s,FEMALE,OB,Yes,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",M5B 1W2,43.656591,-79.379358
16427,16427,289614,2020-05-22,<20,MALE,CC,No,Toronto,2,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",M5B 1W2,43.656591,-79.379358
16428,16428,289616,2020-05-20,50s,FEMALE,CC,No,Toronto,2,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",M5B 1W2,43.656591,-79.379358

In [23]:
individuals_outcome = individuals_outcome.merge(fact_table2[["Individual_key","Reporting_PHU_ID"]], on="Individual_key")
individuals_outcome.head()

   Individual_key Resolved Fatal  Special_Measure_Key  Reporting_PHU_ID
0             250      yes    no                   11              3895
1             259      yes    no                   11              3895
2             322      yes    no                   11              3895
3             326       no   yes                   11              3895
4             347      yes    no                   11              3895

In [24]:
weather_dimension.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,weather_id,city,Date/Time,Year,Month,Day,temp_high,temp_low,precipitation,location_id,date_id
0,0,0,0,91,OTTAWA INTL A,2020-04-01,2020,4,1,7.4,-2.6,0.0,2251,0
1,1,1,1,92,OTTAWA INTL A,2020-04-02,2020,4,2,10.8,-1.4,0.0,2251,1
2,2,2,2,93,OTTAWA INTL A,2020-04-03,2020,4,3,10.0,3.7,1.5,2251,2
3,3,3,3,94,OTTAWA INTL A,2020-04-04,2020,4,4,14.3,2.3,0.0,2251,3
4,4,4,4,95,OTTAWA INTL A,2020-04-05,2020,4,5,10.4,-0.2,0.8,2251,4

In [25]:
weather_dimension = weather_dimension.rename(columns={"Date/Time": "date"})
weather_dimension.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,weather_id,city,date,Year,Month,Day,temp_high,temp_low,precipitation,location_id,date_id
0,0,0,0,91,OTTAWA INTL A,2020-04-01,2020,4,1,7.4,-2.6,0.0,2251,0
1,1,1,1,92,OTTAWA INTL A,2020-04-02,2020,4,2,10.8,-1.4,0.0,2251,1
2,2,2,2,93,OTTAWA INTL A,2020-04-03,2020,4,3,10.0,3.7,1.5,2251,2
3,3,3,3,94,OTTAWA INTL A,2020-04-04,2020,4,4,14.3,2.3,0.0,2251,3
4,4,4,4,95,OTTAWA INTL A,2020-04-05,2020,4,5,10.4,-0.2,0.8,2251,4

In [26]:
display(weather_dimension.dtypes) 
display(fact_table2.dtypes) 
display(individuals_outcome.dtypes)

Unnamed: 0          int64
Unnamed: 0.1        int64
Unnamed: 0.1.1      int64
weather_id          int64
city               object
date               object
Year                int64
Month               int64
Day                 int64
temp_high         float64
temp_low          float64
precipitation     float64
location_id         int64
date_id             int64
dtype: object

surrogate_key                  int64
Individual_key                 int64
date                          object
age_group                     object
gender                        object
cause_of_infection            object
Outbreak_Related              object
reporting_phu_city            object
special_measure_id             int64
Reporting_PHU_ID               int64
Reporting_PHU                 object
Reporting_PHU_Address         object
Reporting_PHU_Postal_Code     object
Reporting_PHU_Latitude       float64
Reporting_PHU_Longitude      float64
dtype: object

Individual_key          int64
Resolved               object
Fatal                  object
Special_Measure_Key     int64
Reporting_PHU_ID        int64
dtype: object

In [27]:
weather_dimension['date'] = pd.to_datetime(weather_dimension['date'])
display(weather_dimension.dtypes)

Unnamed: 0                 int64
Unnamed: 0.1               int64
Unnamed: 0.1.1             int64
weather_id                 int64
city                      object
date              datetime64[ns]
Year                       int64
Month                      int64
Day                        int64
temp_high                float64
temp_low                 float64
precipitation            float64
location_id                int64
date_id                    int64
dtype: object

In [29]:
fact_table2['date'] = pd.to_datetime(fact_table2['date'])
display(fact_table2.dtypes)

surrogate_key                         int64
Individual_key                        int64
date                         datetime64[ns]
age_group                            object
gender                               object
cause_of_infection                   object
Outbreak_Related                     object
reporting_phu_city                   object
special_measure_id                    int64
Reporting_PHU_ID                      int64
Reporting_PHU                        object
Reporting_PHU_Address                object
Reporting_PHU_Postal_Code            object
Reporting_PHU_Latitude              float64
Reporting_PHU_Longitude             float64
dtype: object

In [30]:
fact_table2 = fact_table2.merge(weather_dimension[["date","weather_id"]], on="date")
fact_table2.head()

,surrogate_key,Individual_key,date,age_group,gender,cause_of_infection,Outbreak_Related,reporting_phu_city,special_measure_id,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_Postal_Code,Reporting_PHU_Latitude,Reporting_PHU_Longitude,weather_id
0,0,250,2020-05-03,40s,FEMALE,OB,Yes,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",M5B 1W2,43.656591,-79.379358,123
1,0,250,2020-05-03,40s,FEMALE,OB,Yes,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",M5B 1W2,43.656591,-79.379358,489
2,9,3354,2020-05-03,20s,FEMALE,OB,Yes,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",M5B 1W2,43.656591,-79.379358,123
3,9,3354,2020-05-03,20s,FEMALE,OB,Yes,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",M5B 1W2,43.656591,-79.379358,489
4,84,63780,2020-05-03,50s,FEMALE,OB,Yes,Ottawa,11,2251,Ottawa Public Health,100 Constellation Drive,K2G 6J8,45.345665,-75.763912,123

In [31]:
individuals_outcome = individuals_outcome.merge(fact_table2[["Individual_key","weather_id"]], on="Individual_key")
individuals_outcome.head()

,Individual_key,Resolved,Fatal,Special_Measure_Key,Reporting_PHU_ID,weather_id
0,250,yes,no,11,3895,123
1,250,yes,no,11,3895,489
2,322,yes,no,11,3895,110
3,322,yes,no,11,3895,476
4,326,no,yes,11,3895,96

In [32]:
individuals_outcome.rename(columns = {"weather_id": "Weather_Key"}, inplace=True)
individuals_outcome.head()

,Individual_key,Resolved,Fatal,Special_Measure_Key,Reporting_PHU_ID,Weather_Key
0,250,yes,no,11,3895,123
1,250,yes,no,11,3895,489
2,322,yes,no,11,3895,110
3,322,yes,no,11,3895,476
4,326,no,yes,11,3895,96

In [57]:
roleplaying_dates = pd.read_csv("conposcovidloc.csv")
roleplaying_dates.head()

,Row_ID,Accurate_Episode_Date,Case_Reported_Date,Test_Reported_Date,Specimen_Date,Age_Group,Client_Gender,Case_AcquisitionInfo,Outcome1,Outbreak_Related,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Website,Reporting_PHU_Latitude,Reporting_PHU_Longitude
0,1,2020-06-06,2020-06-12,2020-06-11,2020-06-10,50s,FEMALE,CC,Resolved,NaN,2236,Halton Region Health Department,1151 Bronte Road,Oakville,L6M 3Ll,www.halton.ca/For-Residents/Public-Health/,43.413997,-79.744796
1,2,2020-05-03,2020-05-11,2020-05-11,2020-05-10,70s,MALE,OB,Fatal,Yes,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893
2,3,2020-04-16,2020-04-19,2020-04-19,2020-04-17,40s,FEMALE,OB,Resolved,Yes,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893
3,4,2020-04-07,2020-04-26,2020-04-26,2020-04-21,60s,MALE,CC,Resolved,NaN,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893
4,5,2020-05-21,2020-05-22,2020-05-22,2020-05-21,60s,FEMALE,OB,Resolved,NaN,2253,Peel Public Health,7120 Hurontario Street,Mississauga,L5W 1N4,www.peelregion.ca/health/,43.647471,-79.708893

In [58]:
# standard data cleaning
removeCities = roleplaying_dates[(roleplaying_dates['Reporting_PHU_City'] != 'Toronto') & (roleplaying_dates['Reporting_PHU_City'] != 'Ottawa')].index
roleplaying_dates.drop(removeCities, inplace=True)
roleplaying_dates['Case_Reported_Date']= pd.to_datetime(roleplaying_dates['Case_Reported_Date'])
start_date = pd.to_datetime("4/01/2020")
end_date = pd.to_datetime("7/31/2020")
roleplaying_dates = roleplaying_dates.loc[(roleplaying_dates['Case_Reported_Date'] > start_date) & (roleplaying_dates['Case_Reported_Date'] < end_date)]
roleplaying_dates.head()

,Row_ID,Accurate_Episode_Date,Case_Reported_Date,Test_Reported_Date,Specimen_Date,Age_Group,Client_Gender,Case_AcquisitionInfo,Outcome1,Outbreak_Related,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Website,Reporting_PHU_Latitude,Reporting_PHU_Longitude
249,250,2020-04-28,2020-05-03,2020-05-03,2020-04-30,40s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
321,322,2020-04-17,2020-04-20,2020-04-20,2020-04-19,30s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
325,326,2020-04-02,2020-04-06,2020-04-29,2020-04-02,90+,FEMALE,OB,Fatal,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
346,347,2020-04-10,2020-04-17,2020-04-11,2020-04-10,80s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
691,692,2020-04-30,2020-04-26,2020-04-26,2020-04-25,50s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358

In [80]:
date_dimension = date_dimension.rename(columns={"id": "Date_ID"})
build_date = pd.to_datetime(date_dimension.year*10000+date_dimension.month*100+date_dimension.day,format='%Y%m%d')
date_dimension.insert(4, "date_new_new", build_date, True)
date_dimension.head()

,Date_ID,day,month,year,date_new_new,date_new,date_new,season,isWeekend,isHoliday
0,0,1,4,2020,2020-04-01,2020-04-01,2020-04-01,spring,False,False
1,1,2,4,2020,2020-04-02,2020-04-02,2020-04-02,spring,False,False
2,2,3,4,2020,2020-04-03,2020-04-03,2020-04-03,spring,False,False
3,3,4,4,2020,2020-04-04,2020-04-04,2020-04-04,spring,False,False
4,4,5,4,2020,2020-04-05,2020-04-05,2020-04-05,spring,False,False

In [60]:
display(date_dimension.dtypes)

Date_ID               int64
day                   int64
month                 int64
year                  int64
date_new     datetime64[ns]
date_new             object
season               object
isWeekend              bool
isHoliday              bool
dtype: object

In [81]:
# individuals['date_new'].loc[individuals['date_new'] == date_dimension['date_new'].values] = date_dimension['date_ID']

# individuals.head()

# data['column2'] = data.apply(lambda x: compare_dates(x.column1, x.column2), axis=1)

# individuals.head()

date_dimension['date_new'] = pd.to_datetime(date_dimension['date_new_new'])
roleplaying_dates['Accurate_Episode_Date'] = pd.to_datetime(roleplaying_dates['Accurate_Episode_Date'])
roleplaying_dates['Case_Reported_Date'] = pd.to_datetime(roleplaying_dates['Case_Reported_Date'])
roleplaying_dates['Test_Reported_Date'] = pd.to_datetime(roleplaying_dates['Test_Reported_Date'])
roleplaying_dates['Specimen_Date'] = pd.to_datetime(roleplaying_dates['Specimen_Date'])

Date_ID                  int64
day                      int64
month                    int64
year                     int64
date_new_new    datetime64[ns]
date_new        datetime64[ns]
date_new        datetime64[ns]
season                  object
isWeekend                 bool
isHoliday                 bool
dtype: object

In [83]:
def compare_dates(column_name):
    status = False
    date_ids = []
    for index, row in roleplaying_dates.iterrows():
        status = False
        for idx, rw in date_dimension.iterrows():
            if row[column_name] == rw['date_new_new']:                
                date_ids.append(rw['Date_ID'])
                status = True
        if status == False:
            date_ids.append("NaN")
    
    roleplaying_dates[column_name] = date_ids

In [65]:
roleplaying_dates.head()

,Row_ID,Accurate_Episode_Date,Case_Reported_Date,Test_Reported_Date,Specimen_Date,Age_Group,Client_Gender,Case_AcquisitionInfo,Outcome1,Outbreak_Related,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Website,Reporting_PHU_Latitude,Reporting_PHU_Longitude
249,250,2020-04-28,2020-05-03,2020-05-03,2020-04-30,40s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
321,322,2020-04-17,2020-04-20,2020-04-20,2020-04-19,30s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
325,326,2020-04-02,2020-04-06,2020-04-29,2020-04-02,90+,FEMALE,OB,Fatal,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
346,347,2020-04-10,2020-04-17,2020-04-11,2020-04-10,80s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
691,692,2020-04-30,2020-04-26,2020-04-26,2020-04-25,50s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358

In [84]:
compare_dates('Accurate_Episode_Date')
roleplaying_dates.head()

,Row_ID,Accurate_Episode_Date,Case_Reported_Date,Test_Reported_Date,Specimen_Date,Age_Group,Client_Gender,Case_AcquisitionInfo,Outcome1,Outbreak_Related,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Website,Reporting_PHU_Latitude,Reporting_PHU_Longitude
249,250,27,2020-05-03,2020-05-03,2020-04-30,40s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
321,322,16,2020-04-20,2020-04-20,2020-04-19,30s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
325,326,1,2020-04-06,2020-04-29,2020-04-02,90+,FEMALE,OB,Fatal,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
346,347,9,2020-04-17,2020-04-11,2020-04-10,80s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
691,692,29,2020-04-26,2020-04-26,2020-04-25,50s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358

In [85]:
compare_dates('Case_Reported_Date')
roleplaying_dates.head()

,Row_ID,Accurate_Episode_Date,Case_Reported_Date,Test_Reported_Date,Specimen_Date,Age_Group,Client_Gender,Case_AcquisitionInfo,Outcome1,Outbreak_Related,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Website,Reporting_PHU_Latitude,Reporting_PHU_Longitude
249,250,27,32,2020-05-03,2020-04-30,40s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
321,322,16,19,2020-04-20,2020-04-19,30s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
325,326,1,5,2020-04-29,2020-04-02,90+,FEMALE,OB,Fatal,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
346,347,9,16,2020-04-11,2020-04-10,80s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
691,692,29,25,2020-04-26,2020-04-25,50s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358

In [86]:
compare_dates('Test_Reported_Date')
roleplaying_dates.head()

,Row_ID,Accurate_Episode_Date,Case_Reported_Date,Test_Reported_Date,Specimen_Date,Age_Group,Client_Gender,Case_AcquisitionInfo,Outcome1,Outbreak_Related,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Website,Reporting_PHU_Latitude,Reporting_PHU_Longitude
249,250,27,32,32,2020-04-30,40s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
321,322,16,19,19,2020-04-19,30s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
325,326,1,5,28,2020-04-02,90+,FEMALE,OB,Fatal,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
346,347,9,16,10,2020-04-10,80s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
691,692,29,25,25,2020-04-25,50s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358

In [87]:
compare_dates('Specimen_Date')
roleplaying_dates.head()

,Row_ID,Accurate_Episode_Date,Case_Reported_Date,Test_Reported_Date,Specimen_Date,Age_Group,Client_Gender,Case_AcquisitionInfo,Outcome1,Outbreak_Related,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Website,Reporting_PHU_Latitude,Reporting_PHU_Longitude
249,250,27,32,32,29,40s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
321,322,16,19,19,18,30s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
325,326,1,5,28,1,90+,FEMALE,OB,Fatal,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
346,347,9,16,10,9,80s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
691,692,29,25,25,24,50s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358

In [88]:
roleplaying_dates.rename(columns = {"Accurate_Episode_Date": "Onset_Date_Key"}, inplace=True)
roleplaying_dates.rename(columns = {"Case_Reported_Date": "Reported_Date_Key"}, inplace=True)
roleplaying_dates.rename(columns = {"Test_Reported_Date": "Test_Date_Key"}, inplace=True)
roleplaying_dates.rename(columns = {"Specimen_Date": "Specimen_Date_Key"}, inplace=True)
roleplaying_dates.head()

,Row_ID,Onset_Date_Key,Reported_Date_Key,Test_Date_Key,Specimen_Date_Key,Age_Group,Client_Gender,Case_AcquisitionInfo,Outcome1,Outbreak_Related,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Website,Reporting_PHU_Latitude,Reporting_PHU_Longitude
249,250,27,32,32,29,40s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
321,322,16,19,19,18,30s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
325,326,1,5,28,1,90+,FEMALE,OB,Fatal,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
346,347,9,16,10,9,80s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
691,692,29,25,25,24,50s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358

In [90]:
roleplaying_dates.rename(columns = {"Row_ID": "Individual_key"}, inplace=True)
individuals_outcome = individuals_outcome.merge(roleplaying_dates[["Individual_key","Onset_Date_Key"]], on="Individual_key")
roleplaying_dates.head()

,Individual_key,Onset_Date_Key,Reported_Date_Key,Test_Date_Key,Specimen_Date_Key,Age_Group,Client_Gender,Case_AcquisitionInfo,Outcome1,Outbreak_Related,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Website,Reporting_PHU_Latitude,Reporting_PHU_Longitude
249,250,27,32,32,29,40s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
321,322,16,19,19,18,30s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
325,326,1,5,28,1,90+,FEMALE,OB,Fatal,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
346,347,9,16,10,9,80s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358
691,692,29,25,25,24,50s,FEMALE,OB,Resolved,Yes,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,www.toronto.ca/community-people/health-wellnes...,43.656591,-79.379358

In [91]:
individuals_outcome = individuals_outcome.merge(roleplaying_dates[["Individual_key","Reported_Date_Key"]], on="Individual_key")

In [92]:
individuals_outcome = individuals_outcome.merge(roleplaying_dates[["Individual_key","Test_Date_Key"]], on="Individual_key")

In [93]:
individuals_outcome = individuals_outcome.merge(roleplaying_dates[["Individual_key","Specimen_Date_Key"]], on="Individual_key")

In [94]:
individuals_outcome.head()

,Individual_key,Resolved,Fatal,Special_Measure_Key,Reporting_PHU_ID,Weather_Key,Onset_Date_Key,Reported_Date_Key,Test_Date_Key,Specimen_Date_Key
0,250,yes,no,11,3895,123,27,32,32,29
1,250,yes,no,11,3895,489,27,32,32,29
2,322,yes,no,11,3895,110,16,19,19,18
3,322,yes,no,11,3895,476,16,19,19,18
4,326,no,yes,11,3895,96,1,5,28,1

In [95]:
individuals_outcome.rename(columns = {"Individual_key": "Individual_Key"}, inplace=True)
individuals_outcome.rename(columns = {"Reporting_PHU_ID": "PHU_Key"}, inplace=True)

In [96]:
individuals_outcome.to_csv("fact_table_v2.csv",index=False)