In [1]:
import pandas as pd
import numpy as np

In [2]:
special_measures_dimension = pd.read_csv("special_measures.csv")
date_dimension = pd.read_csv("dates.csv")
individual_dimension = pd.read_csv("individual_dimension.csv")
phu_dimension = pd.read_csv("PHU_location_dimension.csv")
weather_dimension = pd.read_csv("weather_dimension.csv")
mobility_dimension = pd.read_csv("mobility_dimension.csv")

In [3]:
fact_table =  pd.DataFrame(columns=['individual_id','phu_location_id','special_measures_id', 'test_date_id', 'onset_date_id',"reported_date_id","specimen_date_id", "mobility_id", "weather_id", "resolved", "unresolved", "fatal"])

In [4]:
individual_dimension

,surrogate_key,individual_id,date,age_group,gender,cause_of_infection,Outbreak_Related,reporting_phu_city
0,0,250,2020-05-03,40s,FEMALE,OB,Yes,Toronto
1,1,259,2020-03-25,50s,MALE,NO KNOWN EPI LINK,No,Toronto
2,2,322,2020-04-20,30s,FEMALE,OB,Yes,Toronto
3,3,326,2020-04-06,90+,FEMALE,OB,Yes,Toronto
4,4,347,2020-04-17,80s,FEMALE,OB,Yes,Toronto
...,...,...,...,...,...,...,...,...
16424,16424,289520,2020-05-03,<20,MALE,CC,No,Toronto
16425,16425,289589,2020-05-27,80s,MALE,OB,Yes,Toronto
16426,16426,289594,2020-04-15,60s,FEMALE,OB,Yes,Toronto
16427,16427,289614,2020-05-22,<20,MALE,CC,No,Toronto
16428,16428,289616,2020-05-20,50s,FEMALE,CC,No,Toronto

In [5]:
fact_table

Empty DataFrame
Columns: [individual_id, phu_location_id, special_measures_id, test_date_id, onset_date_id, reported_date_id, specimen_date_id, mobility_id, weather_id, resolved, unresolved, fatal]
Index: []

In [6]:
# for idx, row in individual_dimension.iterrows():

    # special measures -> individual cases
    # if case occured within the dates of a special measures, check if it includes the city
    # add special measures ID to fact table in the same row as the individual id
#     sm_id = ...
    
    # PHU -> individual cases
    # match on city name
#     phu_id = phu_dimension[phu_dimension["Reporting_PHU_City"]==row["reporting_phu_city"]]["Reporting_PHU_ID"].values[0]
    
    #fact_row = [row["individual_id"], phu_id, sm_id, ...] # still have to fill in the other values
    
    #fact_table.loc[len(fact_table)] = fact_row
    
def merge_special_measures_with_individual():
    sms = []
    sm_ids = []
    for index, row in special_measures_dimension.iterrows():
        s_id = row['start_date_id']
        e_id = row['end_date_id']
        sms.append((row['StartDate'], row['EndDate'], row['ID'], row['includesOttawa'], row['includesToronto']))

    for index, row in individual_dimension.iterrows():
        sm_id = -1
        for special_measure in sms:
            if row['date'] >= special_measure[0] and row['date'] <= special_measure[1]:
                allow = (row['reporting_phu_city'] == 'Toronto' and special_measure[4] == 'yes') or (row['reporting_phu_city'] == 'Ottawa' and special_measure[3] == 'yes')
                if allow:
                    sm_id = int(special_measure[2])
                    if sm_id != 3: break
        sm_ids.append(sm_id)

    individual_dimension['special_measure_id'] = sm_ids
    
merge_special_measures_with_individual()

In [7]:
individual_dimension

,surrogate_key,individual_id,date,age_group,gender,cause_of_infection,Outbreak_Related,reporting_phu_city,special_measure_id
0,0,250,2020-05-03,40s,FEMALE,OB,Yes,Toronto,11
1,1,259,2020-03-25,50s,MALE,NO KNOWN EPI LINK,No,Toronto,11
2,2,322,2020-04-20,30s,FEMALE,OB,Yes,Toronto,11
3,3,326,2020-04-06,90+,FEMALE,OB,Yes,Toronto,11
4,4,347,2020-04-17,80s,FEMALE,OB,Yes,Toronto,11
...,...,...,...,...,...,...,...,...,...
16424,16424,289520,2020-05-03,<20,MALE,CC,No,Toronto,11
16425,16425,289589,2020-05-27,80s,MALE,OB,Yes,Toronto,2
16426,16426,289594,2020-04-15,60s,FEMALE,OB,Yes,Toronto,11
16427,16427,289614,2020-05-22,<20,MALE,CC,No,Toronto,2
16428,16428,289616,2020-05-20,50s,FEMALE,CC,No,Toronto,2

### Merge Individual with PHU on location

In [8]:
phu_dimension = phu_dimension.rename(columns={"Reporting_PHU_City": "reporting_phu_city"})
phu_dimension

,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,reporting_phu_city,Reporting_PHU_Postal_Code,Reporting_PHU_Latitude,Reporting_PHU_Longitude
0,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",Toronto,M5B 1W2,43.656591,-79.379358
1,2251,Ottawa Public Health,100 Constellation Drive,Ottawa,K2G 6J8,45.345665,-75.763912

In [9]:
fact_table2 = pd.merge(individual_dimension, phu_dimension, how="left", on="reporting_phu_city")
fact_table2

,surrogate_key,individual_id,date,age_group,gender,cause_of_infection,Outbreak_Related,reporting_phu_city,special_measure_id,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_Postal_Code,Reporting_PHU_Latitude,Reporting_PHU_Longitude
0,0,250,2020-05-03,40s,FEMALE,OB,Yes,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",M5B 1W2,43.656591,-79.379358
1,1,259,2020-03-25,50s,MALE,NO KNOWN EPI LINK,No,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",M5B 1W2,43.656591,-79.379358
2,2,322,2020-04-20,30s,FEMALE,OB,Yes,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",M5B 1W2,43.656591,-79.379358
3,3,326,2020-04-06,90+,FEMALE,OB,Yes,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",M5B 1W2,43.656591,-79.379358
4,4,347,2020-04-17,80s,FEMALE,OB,Yes,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",M5B 1W2,43.656591,-79.379358
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16424,16424,289520,2020-05-03,<20,MALE,CC,No,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",M5B 1W2,43.656591,-79.379358
16425,16425,289589,2020-05-27,80s,MALE,OB,Yes,Toronto,2,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",M5B 1W2,43.656591,-79.379358
16426,16426,289594,2020-04-15,60s,FEMALE,OB,Yes,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",M5B 1W2,43.656591,-79.379358
16427,16427,289614,2020-05-22,<20,MALE,CC,No,Toronto,2,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",M5B 1W2,43.656591,-79.379358
16428,16428,289616,2020-05-20,50s,FEMALE,CC,No,Toronto,2,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",M5B 1W2,43.656591,-79.379358

### Merge fact table with dates on date

In [10]:
date_dimension = date_dimension.rename(columns={"id": "date_ID"})
date_dimension

     date_ID  day  month  year  season  isWeekend  isHoliday
0          0    1      4  2020  spring      False      False
1          1    2      4  2020  spring      False      False
2          2    3      4  2020  spring      False      False
3          3    4      4  2020  spring      False      False
4          4    5      4  2020  spring      False      False
..       ...  ...    ...   ...     ...        ...        ...
117      117   27      7  2020  summer       True      False
118      118   28      7  2020  summer      False      False
119      119   29      7  2020  summer      False      False
120      120   30      7  2020  summer      False      False
121      121   31      7  2020  summer      False      False

[122 rows x 7 columns]

In [11]:
build_date= pd.to_datetime(date_dimension.year*10000+date_dimension.month*100+date_dimension.day,format='%Y%m%d')
date_dimension.insert(4, "date", build_date, True)
date_dimension

     date_ID  day  month  year       date  season  isWeekend  isHoliday
0          0    1      4  2020 2020-04-01  spring      False      False
1          1    2      4  2020 2020-04-02  spring      False      False
2          2    3      4  2020 2020-04-03  spring      False      False
3          3    4      4  2020 2020-04-04  spring      False      False
4          4    5      4  2020 2020-04-05  spring      False      False
..       ...  ...    ...   ...        ...     ...        ...        ...
117      117   27      7  2020 2020-07-27  summer       True      False
118      118   28      7  2020 2020-07-28  summer      False      False
119      119   29      7  2020 2020-07-29  summer      False      False
120      120   30      7  2020 2020-07-30  summer      False      False
121      121   31      7  2020 2020-07-31  summer      False      False

[122 rows x 8 columns]

In [12]:
fact_table2['date']= pd.to_datetime(fact_table2['date'])
fact_table2 = pd.merge(fact_table2, date_dimension, how="left", on="date")
fact_table2

,surrogate_key,individual_id,date,age_group,gender,cause_of_infection,Outbreak_Related,reporting_phu_city,special_measure_id,Reporting_PHU_ID,...,Reporting_PHU_Postal_Code,Reporting_PHU_Latitude,Reporting_PHU_Longitude,date_ID,day,month,year,season,isWeekend,isHoliday
0,0,250,2020-05-03,40s,FEMALE,OB,Yes,Toronto,11,3895,...,M5B 1W2,43.656591,-79.379358,32.0,3.0,5.0,2020.0,spring,False,False
1,1,259,2020-03-25,50s,MALE,NO KNOWN EPI LINK,No,Toronto,11,3895,...,M5B 1W2,43.656591,-79.379358,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,322,2020-04-20,30s,FEMALE,OB,Yes,Toronto,11,3895,...,M5B 1W2,43.656591,-79.379358,19.0,20.0,4.0,2020.0,spring,True,False
3,3,326,2020-04-06,90+,FEMALE,OB,Yes,Toronto,11,3895,...,M5B 1W2,43.656591,-79.379358,5.0,6.0,4.0,2020.0,spring,True,False
4,4,347,2020-04-17,80s,FEMALE,OB,Yes,Toronto,11,3895,...,M5B 1W2,43.656591,-79.379358,16.0,17.0,4.0,2020.0,spring,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16424,16424,289520,2020-05-03,<20,MALE,CC,No,Toronto,11,3895,...,M5B 1W2,43.656591,-79.379358,32.0,3.0,5.0,2020.0,spring,False,False
16425,16425,289589,2020-05-27,80s,MALE,OB,Yes,Toronto,2,3895,...,M5B 1W2,43.656591,-79.379358,56.0,27.0,5.0,2020.0,spring,False,False
16426,16426,289594,2020-04-15,60s,FEMALE,OB,Yes,Toronto,11,3895,...,M5B 1W2,43.656591,-79.379358,14.0,15.0,4.0,2020.0,spring,False,False
16427,16427,289614,2020-05-22,<20,MALE,CC,No,Toronto,2,3895,...,M5B 1W2,43.656591,-79.379358,51.0,22.0,5.0,2020.0,spring,False,False
16428,16428,289616,2020-05-20,50s,FEMALE,CC,No,Toronto,2,3895,...,M5B 1W2,43.656591,-79.379358,49.0,20.0,5.0,2020.0,spring,False,False

### Drop some columns

In [13]:
fact_table2= fact_table2.drop(columns=['Reporting_PHU_Postal_Code', 'Reporting_PHU_Latitude', 'Reporting_PHU_Longitude', 'age_group', 'gender'])
fact_table2= fact_table2.drop(columns=['day','month','year','season','isWeekend','isHoliday'])

fact_table2

,surrogate_key,individual_id,date,cause_of_infection,Outbreak_Related,reporting_phu_city,special_measure_id,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,date_ID
0,0,250,2020-05-03,OB,Yes,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",32.0
1,1,259,2020-03-25,NO KNOWN EPI LINK,No,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",NaN
2,2,322,2020-04-20,OB,Yes,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",19.0
3,3,326,2020-04-06,OB,Yes,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",5.0
4,4,347,2020-04-17,OB,Yes,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",16.0
...,...,...,...,...,...,...,...,...,...,...,...
16424,16424,289520,2020-05-03,CC,No,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",32.0
16425,16425,289589,2020-05-27,OB,Yes,Toronto,2,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",56.0
16426,16426,289594,2020-04-15,OB,Yes,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",14.0
16427,16427,289614,2020-05-22,CC,No,Toronto,2,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",51.0
16428,16428,289616,2020-05-20,CC,No,Toronto,2,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",49.0

In [14]:
individual_dimension

,surrogate_key,individual_id,date,age_group,gender,cause_of_infection,Outbreak_Related,reporting_phu_city,special_measure_id
0,0,250,2020-05-03,40s,FEMALE,OB,Yes,Toronto,11
1,1,259,2020-03-25,50s,MALE,NO KNOWN EPI LINK,No,Toronto,11
2,2,322,2020-04-20,30s,FEMALE,OB,Yes,Toronto,11
3,3,326,2020-04-06,90+,FEMALE,OB,Yes,Toronto,11
4,4,347,2020-04-17,80s,FEMALE,OB,Yes,Toronto,11
...,...,...,...,...,...,...,...,...,...
16424,16424,289520,2020-05-03,<20,MALE,CC,No,Toronto,11
16425,16425,289589,2020-05-27,80s,MALE,OB,Yes,Toronto,2
16426,16426,289594,2020-04-15,60s,FEMALE,OB,Yes,Toronto,11
16427,16427,289614,2020-05-22,<20,MALE,CC,No,Toronto,2
16428,16428,289616,2020-05-20,50s,FEMALE,CC,No,Toronto,2

### Merge fact table with individual dimension

In [15]:
individual_dimension['date']= pd.to_datetime(individual_dimension['date'])
fact_table2 = pd.merge(fact_table2, individual_dimension, how="left", on="date")
fact_table2

,surrogate_key_x,individual_id_x,date,cause_of_infection_x,Outbreak_Related_x,reporting_phu_city_x,special_measure_id_x,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,date_ID,surrogate_key_y,individual_id_y,age_group,gender,cause_of_infection_y,Outbreak_Related_y,reporting_phu_city_y,special_measure_id_y
0,0,250,2020-05-03,OB,Yes,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",32.0,0,250,40s,FEMALE,OB,Yes,Toronto,11
1,0,250,2020-05-03,OB,Yes,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",32.0,9,3354,20s,FEMALE,OB,Yes,Toronto,11
2,0,250,2020-05-03,OB,Yes,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",32.0,84,63780,50s,FEMALE,OB,Yes,Ottawa,11
3,0,250,2020-05-03,OB,Yes,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",32.0,85,63781,50s,MALE,CC,No,Ottawa,11
4,0,250,2020-05-03,OB,Yes,Toronto,11,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",32.0,88,63784,30s,FEMALE,OB,Yes,Ottawa,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2779984,16428,289616,2020-05-20,CC,No,Toronto,2,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",49.0,16172,284957,50s,MALE,NO KNOWN EPI LINK,No,Toronto,2
2779985,16428,289616,2020-05-20,CC,No,Toronto,2,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",49.0,16204,285522,50s,FEMALE,OB,Yes,Toronto,2
2779986,16428,289616,2020-05-20,CC,No,Toronto,2,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",49.0,16207,285641,60s,MALE,CC,No,Toronto,2
2779987,16428,289616,2020-05-20,CC,No,Toronto,2,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",49.0,16375,288373,50s,FEMALE,CC,No,Toronto,2
2779988,16428,289616,2020-05-20,CC,No,Toronto,2,3895,Toronto Public Health,"277 Victoria Street, 5th Floor",49.0,16428,289616,50s,FEMALE,CC,No,Toronto,2

### Drop everything that is not supposed to be in the fact table

In [16]:
fact_table2= fact_table2.drop(columns=['Outbreak_Related_x', 'reporting_phu_city_x', 'Reporting_PHU', 'Reporting_PHU_Address'])
fact_table2= fact_table2.drop(columns=['age_group', 'Outbreak_Related_y', 'reporting_phu_city_y','gender','cause_of_infection_y'])
fact_table2

,surrogate_key_x,individual_id_x,date,cause_of_infection_x,special_measure_id_x,Reporting_PHU_ID,date_ID,surrogate_key_y,individual_id_y,special_measure_id_y
0,0,250,2020-05-03,OB,11,3895,32.0,0,250,11
1,0,250,2020-05-03,OB,11,3895,32.0,9,3354,11
2,0,250,2020-05-03,OB,11,3895,32.0,84,63780,11
3,0,250,2020-05-03,OB,11,3895,32.0,85,63781,11
4,0,250,2020-05-03,OB,11,3895,32.0,88,63784,11
...,...,...,...,...,...,...,...,...,...,...
2779984,16428,289616,2020-05-20,CC,2,3895,49.0,16172,284957,2
2779985,16428,289616,2020-05-20,CC,2,3895,49.0,16204,285522,2
2779986,16428,289616,2020-05-20,CC,2,3895,49.0,16207,285641,2
2779987,16428,289616,2020-05-20,CC,2,3895,49.0,16375,288373,2
2779988,16428,289616,2020-05-20,CC,2,3895,49.0,16428,289616,2