## Importing Libraries

In [1]:
import pandas as pd
from datetime import datetime as dt

## Import file

In [2]:
custom_date_parser = lambda x: dt.strptime(x, "%Y-%m-%d")
mobility = pd.read_csv("2020_CA_Region_Mobility_Report.csv", parse_dates=['date'], date_parser=custom_date_parser)

## Get first 5 rows

In [3]:
mobility.head()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,CA,Canada,NaN,NaN,NaN,NaN,2020-02-15,4.0,2.0,10.0,3.0,1.0,0.0
1,CA,Canada,NaN,NaN,NaN,NaN,2020-02-16,13.0,8.0,41.0,4.0,0.0,-2.0
2,CA,Canada,NaN,NaN,NaN,NaN,2020-02-17,-12.0,-15.0,63.0,-28.0,-52.0,11.0
3,CA,Canada,NaN,NaN,NaN,NaN,2020-02-18,-1.0,4.0,6.0,-1.0,-1.0,1.0
4,CA,Canada,NaN,NaN,NaN,NaN,2020-02-19,1.0,1.0,9.0,0.0,0.0,0.0

In [4]:
mobility.tail()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
87471,CA,Canada,Yukon,NaN,NaN,CA-YT,2021-02-03,-37.0,NaN,NaN,NaN,-10.0,NaN
87472,CA,Canada,Yukon,NaN,NaN,CA-YT,2021-02-04,-35.0,NaN,NaN,NaN,-12.0,NaN
87473,CA,Canada,Yukon,NaN,NaN,CA-YT,2021-02-05,-37.0,NaN,NaN,NaN,-10.0,NaN
87474,CA,Canada,Yukon,NaN,NaN,CA-YT,2021-02-06,-42.0,NaN,NaN,NaN,-1.0,NaN
87475,CA,Canada,Yukon,NaN,NaN,CA-YT,2021-02-08,-47.0,NaN,NaN,NaN,-16.0,NaN

## Get number of rows and number of columns

In [5]:
mobility.shape

(87476, 13)

## Get indexes where name column doesn't have value Ontario
### Delete these row indexes from dataFrame

In [6]:
indexNames = mobility[(mobility['sub_region_1'] != 'Ontario')].index
mobility.drop(indexNames , inplace=True)
mobility.shape

(17837, 13)

In [7]:
mobility.head()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
33685,CA,Canada,Ontario,NaN,NaN,CA-ON,2020-02-15,2.0,3.0,20.0,5.0,1.0,-1.0
33686,CA,Canada,Ontario,NaN,NaN,CA-ON,2020-02-16,16.0,13.0,44.0,5.0,-2.0,-2.0
33687,CA,Canada,Ontario,NaN,NaN,CA-ON,2020-02-17,-26.0,-37.0,70.0,-40.0,-72.0,16.0
33688,CA,Canada,Ontario,NaN,NaN,CA-ON,2020-02-18,-1.0,12.0,-5.0,2.0,0.0,1.0
33689,CA,Canada,Ontario,NaN,NaN,CA-ON,2020-02-19,0.0,4.0,-4.0,-2.0,1.0,0.0

# Remove all cities except Ottawa and Toronto

In [8]:
indexNames = mobility[(mobility['sub_region_2'] != 'Ottawa Division') & (mobility['sub_region_2'] != 'Toronto Division')].index
mobility.drop(indexNames , inplace=True)
mobility.shape

(720, 13)

In [9]:
mobility.head()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
44100,CA,Canada,Ontario,Ottawa Division,NaN,NaN,2020-02-15,13.0,6.0,68.0,3.0,1.0,-2.0
44101,CA,Canada,Ontario,Ottawa Division,NaN,NaN,2020-02-16,30.0,26.0,128.0,3.0,4.0,-4.0
44102,CA,Canada,Ontario,Ottawa Division,NaN,NaN,2020-02-17,-30.0,-53.0,52.0,-40.0,-62.0,14.0
44103,CA,Canada,Ontario,Ottawa Division,NaN,NaN,2020-02-18,-5.0,9.0,-8.0,-6.0,-2.0,1.0
44104,CA,Canada,Ontario,Ottawa Division,NaN,NaN,2020-02-19,0.0,6.0,-8.0,-8.0,1.0,0.0

In [10]:
mobility.tail()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
50797,CA,Canada,Ontario,Toronto Division,NaN,NaN,2021-02-04,-54.0,-17.0,-2.0,-69.0,-55.0,23.0
50798,CA,Canada,Ontario,Toronto Division,NaN,NaN,2021-02-05,-58.0,-27.0,-42.0,-70.0,-55.0,25.0
50799,CA,Canada,Ontario,Toronto Division,NaN,NaN,2021-02-06,-55.0,-19.0,-22.0,-63.0,-23.0,14.0
50800,CA,Canada,Ontario,Toronto Division,NaN,NaN,2021-02-07,-56.0,-25.0,-10.0,-63.0,-27.0,11.0
50801,CA,Canada,Ontario,Toronto Division,NaN,NaN,2021-02-08,-58.0,-27.0,-34.0,-70.0,-57.0,23.0

## Remove unneeded columns

In [11]:
mobility = mobility.drop(["country_region_code","country_region","metro_area", "iso_3166_2_code"], axis=1)

## Keep dates from April to July only

In [12]:
mobility = mobility[(mobility['date'] >= "2020-04-01") & (mobility['date'] <= "2020-07-31")]

In [13]:
mobility.shape

(244, 9)

## Renaming columns to match DB

In [14]:

mobility = mobility.rename(columns = {"sub_region_1": "sub_region", 
                                  "sub_region_2":"metro_area", 
                                  "retail_and_recreation_percent_change_from_baseline": "retail_and_rec",
                                      "grocery_and_pharmacy_percent_change_from_baseline":"grocery_and_pharma",
                                      "parks_percent_change_from_baseline":"parks",
                                      "transit_stations_percent_change_from_baseline":"transit_stations",
                                      "workplaces_percent_change_from_baseline":"workplaces",
                                      "residential_percent_change_from_baseline":"residential"
                                     })

mobility = mobility.rename_axis("mobility_id")

## View head

In [15]:
mobility.head()

,sub_region,metro_area,date,retail_and_rec,grocery_and_pharma,parks,transit_stations,workplaces,residential
mobility_id,,,,,,,,,
44146,Ontario,Ottawa Division,2020-04-01,-58.0,-31.0,-28.0,-72.0,-73.0,28.0
44147,Ontario,Ottawa Division,2020-04-02,-58.0,-30.0,-25.0,-74.0,-74.0,29.0
44148,Ontario,Ottawa Division,2020-04-03,-63.0,-33.0,-44.0,-75.0,-73.0,31.0
44149,Ontario,Ottawa Division,2020-04-04,-60.0,-34.0,12.0,-59.0,-48.0,14.0
44150,Ontario,Ottawa Division,2020-04-05,-63.0,-38.0,-21.0,-70.0,-48.0,13.0

## Save cleaned data to csv

In [16]:
mobility.to_csv("mobility_dimension.csv",index=True)